body {
   
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
   background-color: rgb(33, 33, 36);
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .image-box {
   
    width: 220px;
    padding: 10px;
    background: rgb(251, 250, 253);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .image-box:hover {
    box-shadow: 0 15px 35px rgba(2, 240, 2, 0.5);
    transform: scale(1.05);
  }
  
  .gallery-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
  }
  
  /* Lightbox */
  .lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }
  
  .lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
  }
  
  .close {
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }
  